{% extends 'admin/base.html' %}
{% block title %}新建中介人员{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/files.css') }}">
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header">
                    <div class="header-body">
                        <!-- Nav -->
                        <div class="row align-items-end">
                            <div class="col">
                                <h2>新建人员信息</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('agent.agent_member_add') }}" id="form-gov-member-add" method="post">
                            <label>
                                <input hidden id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                            </label>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label for="" class="col-2">人员姓名</label>
                                        <div class="col pl-4">
                                            <input type="text" name="name" id="name" class="form-control"
                                                   required="required" placeholder="必填项">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">联系电话</label>
                                        <div class="col pl-4">
                                            <input type="text" id="telephone" name="telephone" class="form-control"
                                                   required="required" placeholder="必填项">
                                            <label id="telephone_verify"
                                                   style="display:none; font-size:12px; color:#F00"></label>
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">密码</label>
                                        <div class="col pl-4">
                                            <input type="password" id="password" name="password" class="form-control"
                                                   required="required" placeholder="必填项">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">确认密码</label>
                                        <div class="col pl-4">
                                            <input type="password" id="password_repeat" name="password_repeat"
                                                   class="form-control" required="required" onkeyup="validate()"
                                                   placeholder="必填项">
                                            <span id="tishi"></span>
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">人员职称</label>
                                        <div class="col pl-4">
                                            <input type="text" id="position" name="position" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">角色选择</label>
                                        <div class="col pl-4">
                                            {% for role in roles %}
                                                <input type="checkbox" name="roles[]" id={{ role['id'] }} value="{{ role['id'] }}">
                                                <label for={{ role['id'] }}>{{ role['name'] }}</label><br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <div class="col pl-4">
                                            <div style="text-align:center">
                                                <button type="submit" id="btn-submit-form"
                                                        class="btn btn-primary float">确定
                                                </button>
                                                <button type="button" class="btn btn-primary float"
                                                        onclick="javascript:history.back(-1);">返回
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function validate() {
            var pw1 = document.getElementById("password").value;
            var pw2 = document.getElementById("password_repeat").value;
            if (pw1 == pw2) {
                document.getElementById("tishi").innerHTML = "<font color='green'>两次密码相同</font>";
                document.getElementById("btn-submit-form").disabled = false;
            } else {
                document.getElementById("tishi").innerHTML = "<font color='red'>两次密码不相同</font>";
                document.getElementById("btn-submit-form").disabled = true;
            }
        }
    </script>
    <script>
        let csrf_token = "{{ csrf_token() }}";
        //在确保请求不属于GET HEAD OPTIONS TRACE，并且发向站内，才设置csrf_token
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>

    <script src="{{ url_for('static', filename='js/dist/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user/personal.js') }}"></script>


{% endblock %}


