{% extends 'base.html' %}

{% block nav %}
{% endblock %}

{% block main %}
    <!-- MAIN CONTENT -->
    <div class="container-fluid">

        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
                <div class="bg-cover vh-100 mr-n3" style="background-image: url({{ url_for('static', filename='image/admin-login.jpg') }});"></div>
            </div>

            <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-4 my-5">
                {% block login_form %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}