aliyun-python-sdk-core-v3==2.13.11
bert-serving-client==1.10.0
bert-serving-server==1.10.0
Bootstrap-Flask==1.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
et-xmlfile==1.0.1
Flask==1.1.2
Flask-CKEditor==0.4.4.1
Flask-Login==0.5.0
Flask-Moment==0.10.0
flask-oidc2 @ git+https://github.com/reno9/flask-oidc2.git@d7dba2cf0d2c41c4493a8c172d5ad08003a7c86c
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
GPUtil==1.4.0
grpcio==1.32.0
grpcio-tools==1.32.0
httplib2==0.18.1
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
lml==0.0.9
lxml==4.5.2
MarkupSafe==1.1.1
neobolt==1.7.17
neotime==1.7.4
numpy==1.19.2
oauth2client==4.1.3
openpyxl==3.0.5
pandas==1.0.5
pdfminer.six==20200104
pdfplumber==0.5.22
Pillow==7.2.0
prompt-toolkit==2.0.10
protobuf==3.13.0
py2neo==4.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.9.8
Pygments==2.3.1
pymilvus==0.2.6
PyMySQL==0.10.0
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.14.0
pytz==2020.1
pyzmq==19.0.2
requests==2.24.0
rsa==4.6
six==1.15.0
sortedcontainers==2.2.2
SQLAlchemy==1.3.18
termcolor==1.1.0
unicodecsv==0.14.1
urllib3==1.25.10
Wand==0.6.2
wcwidth==0.2.5
Werkzeug==1.0.1
WTForms==2.3.3
xlrd==1.2.0
XlsxWriter==1.3.6
