<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            <span class="text-muted">
                发布时间：{{ activity.create_time }} | 发布人：{{ activity.user_name }}
            </span>
        </div>
        {% if can_write %}
            <div class="card-header-tabs">
                <a href="{{ url_for('activity.edit_activity', activity_id=activity.id) }}"
                   class="btn hover-primary">
                    <i class="fe fe-edit"></i>编辑
                </a>
            </div>
        {% endif %}
    </div>
    <div class="card-body">
        <h2 class="card-header-title text-center">{{ activity.title }}</h2>
        <div class="py-2 text-center">
            <span class="per-tag px-3">{{ activity.project_name }}</span>
        </div>
        <div class="bg-dark-soft p-4">
            <div class="row align-items-center">
                <div class="col">
                    <p>活动时间：{{ activity.gmt_start | combine_start_end_time(activity.gmt_end) }}</p>
                    <p>活动地址：{{ activity.address }}</p>
                </div>
                <div class="col-auto">
                    <span class="alert alert-secondary">
                        {% if now > activity.gmt_end %}
                            已结束
                        {% elif now < activity.gmt_start %}
                            报名中
                        {% else %}
                            进行中
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="pt-4">
            <p style="line-height: 1.8rem">{{ activity.description | safe }}</p>
        </div>
    </div>
</div>
