{% from 'macros.html' import render_nav_item %}

<div class="container-fluid">
    <div class="header">
        <div class="header-body">
        <div class="row align-items-center">
            <div class="col">
                <h6 class="header-pretitle">为企业举办产学研合作项目的开展和奖励</h6>
                <h2 class="header-title">活动</h2>
            </div>
        </div>
            <div class="row align-items-end">
                <div class="col">
                    <ul class="nav nav-tabs nav-overflow header-tabs pb-3">
{#                        {{ render_nav_item('activity.index', '日历') }}#}
{#                        <li class="nav-link">></li>#}
                        {{ render_nav_item('activity.show_base_info', '通知', activity_id=activity.id) }}
                        {% if can_read %}
                            {{ render_nav_item('activity.show_files', '文件', activity_id=activity.id) }}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
