{% extends 'base_header_breadcrumbs.html' %}
{% block title %}
    活动-昆山开发区科技局信息系统
{% endblock %}

{% block styles %}
    <style type="text/css">
        .card img {max-width: 100%;}
    </style>
{% endblock %}

{% block header_nav %}
    <div class="row align-items-end">
        <div class="col">
            <ul class="nav nav-tabs nav-overflow header-tabs pb-3">
                {{ render_nav_item('activity.show_base_info', '通知', activity_id=activity.id) }}
                {% if can_read %}
                    {{ render_nav_item('activity.show_files', '文件', activity_id=activity.id) }}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        {% include 'activity/_activity_info.html' %}
    </div>
{% endblock %}

