{% extends 'base.html' %}
{% block title %}账号设置-昆山开发区科技局信息系统{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/files.css') }}">
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header">
                    <div class="header-body">
                        <!-- Nav -->
                        <ul class="nav nav-tabs nav-overflow header-tabs">
                            <li class="nav-item">
                                <a href="{{ url_for('user.gov_personal') }}" class="nav-link active">
                                    基本信息
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-auto">
                                <label for="avatar" id="avatar-container" class="cursor-pointer">
                                    <div id="avatar-img" class="rounded-circle overflow-hidden position-relative">
                                        <img src="{{ url_for("user.avatar", filename=user.avatar) }}"
                                             id="avatar-img-real" alt="">
                                            <div class="d-none">
                                                <input hidden name="csrf_token" value="{{ csrf_token() }}">
                                                <input type="file" autocomplete='off' id="avatar" accept="image/*">
                                            </div>
                                            <div class="position-absolute text-white text-center">
                                                修改头像
                                            </div>
                                    </div>
                                </label>
                            </div>
                            <div class="col">
                                <div class="form-row p-3 border-bottom-1 ">
                                    <span class="col-2">姓名</span>
                                    <div class="col pl-4">{{ user.name }}</div>
                                </div>
                                <div class="form-row p-3 border-bottom-1 ">
                                    <span class="col-2">手机</span>
                                    <div class="col pl-4">{{ user.telephone }}</div>
                                </div>
                                <div class="form-row p-3 border-bottom-1 ">
                                    <span class="col-2">部门</span>
                                    <div class="col pl-4">{{ department.full_name }}</div>
                                </div>
                                <div class="form-row p-3 border-bottom-1 ">
                                    <span class="col-2">职务</span>
                                    <div class="col pl-4">{{ user.position }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/user/personal.js') }}"></script>
    <script>
        let csrf_token = "{{ csrf_token() }}";
        //在确保请求不属于GET HEAD OPTIONS TRACE，并且发向站内，才设置csrf_token
        $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain){
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
            }
        });
    </script>
{% endblock %}