{% extends 'base.html' %}
{% block title %}密码管理-昆山开发区科技局信息系统{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/files.css') }}">
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header">
                    <div class="header-body">
                        <!-- Nav -->
                        <ul class="nav nav-tabs nav-overflow header-tabs">
                            <li class="nav-item">
                                <a href="{{ url_for('gov_personal.personal') }}" class="nav-link">
                                    基本信息
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ url_for('gov_personal.password') }}" class="nav-link active">
                                    密码管理
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-2">
                        <!-- Card -->
                        <div class="card bg-light border ml-md-4">
                            <div class="card-body">
                                <!-- Text -->
                                <p class="mb-2">密码要求</p>
                                <!-- Text -->
                                <p class="small text-muted mb-2">
                                    新设置的密码需要符合以下要求:
                                </p>
                                <!-- List group -->
                                <ul class="small text-muted pl-4 mb-0">
                                    <li>最少 8 位字符</li>
                                    <li>包含字母和数字</li>
                                    <li>不能与原密码相同</li>
                                </ul>

                            </div>
                        </div>
                        {#                        <div class="ml-auto float-right">#}
                        {#                            <button class="btn btn-white">忘记密码</button>#}
                        {#                        </div>#}

                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="control-label">旧密码</label>
                                    <div class="input-group">
                                        <input hidden name="csrf_token" value="{{ csrf_token() }}">
                                        <input type="password" class="form-control border-right-0"
                                               name="old_password_modal"
                                               id="old_password_modal" placeholder="请输入旧密码">
                                        <div class="input-group-append">
                                            <span class="input-group-text password_span cursor-pointer"><i
                                                    class="fe fe-eye-off"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">新密码</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control border-right-0"
                                               name="new_password_modal_1"
                                               id="new_password_modal_1" placeholder="请输入新密码">
                                        <div class="input-group-append">
                                            <span class="input-group-text password_span cursor-pointer"><i
                                                    class="fe fe-eye-off"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">确认新密码</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control border-right-0"
                                               name="new_password_modal_2"
                                               id="new_password_modal_2" placeholder="请再次输入新密码">
                                        <div class="input-group-append">
                                            <span class="input-group-text password_span cursor-pointer"><i
                                                    class="fe fe-eye-off"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <button type="button" id="submit_modify_password"
                                            class="btn btn-block btn-primary">
                                        确定
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/gov/personal.js') }}"></script>
    <script>
            let csrf_token = "{{ csrf_token() }}";
        //在确保请求不属于GET HEAD OPTIONS TRACE，并且发向站内，才设置csrf_token
        $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain){
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
            }
        });
    </script>
{% endblock %}