{% extends 'base.html' %}

{% block title %}
    企业画像
{% endblock %}

{% block styles %}
<style type="text/css">
    a:hover{
        text-decoration: none;
    }

    table{
        table-layout:fixed;
    }

    table tr td:first-child,table tr td:first-child{
        width:140px;
    }

</style>
{% endblock %}

{% block main %}

    <div class="container">
        <p><h1 id="ep_name">{{ ep_name }}<div id="ep_id" class="d-none">{{ ep_info.id }}</div></h1></p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h2>企业基本信息</h2>
        </div>
        <div class="col-sm-8">
            <a href="{{ url_for('enterprise_portrait.download_ep_info', ep_id_list=ep_info.id) }}"
                               class="text-center d-flex align-items-center float-right"><i class="fe fe-download"></i>导出数据</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="search-results">
            <div class="">
                <table class="table table-bordered">
                <tr>
                    <td>法定代表人</td>
                    <td>{{ ep_info.representative }}</td>
                    <td>经营状态</td>
                    <td>{{ ep_info.manage_state }}</td>
                    <td>成立日期</td>
                    <td>{{ ep_info.entablish_date }}</td>
                </tr>
                <tr>
                    <td>注册资本</td>
                    <td>{{ ep_info.registered_capital | int }}万元</td>
                    <td>统一社会信用代码</td>
                    <td>{{ ep_info.social_code }}</td>
                    <td>所属行业</td>
                    <td>{{ ep_info.industry }}</td>
                </tr>
                <tr>
                    <td>专利数量</td>
                    <td>{{ ip_count[0].count }}</td>
                    <td>实用新型数量</td>
                    <td>{{ ip_count[1].count }}</td>
                    <td>软件著作权</td>
                    <td>{{ ip_count[2].count }}</td>
                </tr>
                <tr>
                    <td>企业网站</td>
                    <td colspan="2">
                        {% if ep_info.website | length > 0 %}
                            {{ ep_info.website }}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                    <td>企业电话</td>
                    <td colspan="2">{{ ep_info.telephone }}{% if ep_info.telephone_more|length > 0 %}；{% endif %}{{ ep_info.telephone_more }}</td>
                </tr>
                <tr>
                    <td>企业地址</td>
                    <td colspan="5">{{ ep_info.address }}</td>
                </tr>
            </table>
            </div>
        </div>
    </div>
    <br>
        <div class="row">
            <div class="row">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;企业研发能力</h2>
            </div>
        </div>
    <br>
        <div id="ep_research_ability_graph" style="width:auto; height:400px;border: 1px solid #000000">
        </div>
    <br>
        <div class="row">
            <div class="row">
                <input class="d-none" id="role_with_portrait" value={{ role_with_portrait }}>
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;工程师网络</h2>
            </div>
        </div>
    <br>
        <div id="engineer_graph" style="width:auto; height:500px;border: 1px solid #000000">
        </div>
    <br>
</div>


<div class="modal fade" id="myModal" role="dialog" aria-labelledby="taskOperateModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="taskOperateModalLabel">添加联系记录</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
{#                <form class="form-horizontal" action="{{ url_for('enterprise_portrait.update_engineer_visited_status') }}" method="get">#}
                    <div class="modal-body">
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label">企业</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="ep_name_modal" name="ep_name_modal" readonly>
                            </div>
                        </div>
                        <div class="form-row" style="padding-top: 10px">
                            <label class="col-sm-2 col-form-label">工程师</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="engineer_name_modal" name="engineer_name_modal" readonly>
                                <input type="text" class="d-none" id="engineer_id_modal" name="engineer_id_modal" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-2 col-form-label">联系记录</label>
                            <div class="col-10" style="padding-top: 7px">
                                  <label><input type="radio" value="0" name="options_radio" checked>&nbsp;未联系过</label>
                                  <label><input type="radio" value="1" name="options_radio">&nbsp;已联系过</label>
                                  <label><input type="radio" value="2" name="options_radio">&nbsp;&nbsp;&nbsp;提供技术需求</label>
                                  <label><input type="radio" value="3" name="options_radio">&nbsp;参加活动</label>
                                  <label><input type="radio" value="4" name="options_radio">&nbsp;签订合同</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="reload_graph" class="btn btn-primary">确定</button>
                    </div>
{#                </form>#}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/enterprise_portrait/ep_detail.js')}}"></script>
{% endblock %}