{% extends 'base.html' %}

{% block title %}
    检索结果
{% endblock %}

{% block styles %}
<style type="text/css">
    .page-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    a:hover{
        text-decoration: none;
    }
</style>
{% endblock %}

{% block main %}
    <div class="container">
    <br>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <form method="post" action="/data_mining/enterprise_portrait/search_ep">
                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="input-group">
                        <input type="text" id="enterprise" name="enterprise" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">搜索</button>
                        </span>
                    </div>
                    <div style="width: 100%; margin:0 auto">
                        <div class="radio" style="float: left;padding-right: 20px">
                          <label><input type="radio" value="1" name="options_radio" checked>&nbsp;企业名</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" value="2" name="options_radio">&nbsp;企业技术成果</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="row offset-sm-2">
            <div class="col-sm-5" id="search-results">
                <h3>
                    共找到{{ ep_info|length }}条相关结果
                </h3>
            </div>
            {% if ep_info|length != 0 %}
                排序：
                <div class="col-sm-2 select">
                    <select id="sort">
                        <option value="0">按相似度</option>
                        <option value="1">成立日期从早到晚</option>
                        <option value="2">成立日期从晚到早</option>
                        <option value="3">注册资本从低到高</option>
                        <option value="4">注册资本从高到低</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <a href="{{ url_for('enterprise_portrait.download_ep_info', ep_id_list=ep_id_list) }}"
                               class="text-center d-flex align-items-center"><i class="fe fe-download"></i>导出数据</a>

                    <input class="d-none" id="ep_id_list" value={{ ep_id_list }}>
                    <input class="d-none" id="pa_id_list" value={{ pa_id_list }}>
                </div>
            {% endif %}
        </div>

        <div id="ep_base_info">
            {% for ep in ep_info %}
                <div class="row">
                    <div class="col-sm-8 offset-sm-2" id="search-results">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">
                                    <span class="text-primary">
                                        <a href="{{ url_for('enterprise_portrait.get_ep_detail', ep_id=ep.id, ep_name=ep.name, pa_id=ep.pa_id) }}">
                                            {{ ep.name }}
                                        </a>
                                    </span>
                                </h3>
                                <small>注册资金：
                                    <span class="text">
                                         {{ ep.registered_capital }}万元&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </small>
                                <small>成立时间：
                                    <span class="text">
                                         {{ ep.entablish_date }}&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </small>
                                <small>电话：
                                    <span class="text">
                                         {{ ep.telephone }}
                                    </span>
                                </small>
                                <br>
                                <small>相关工程师：
                                    <span class="text">
                                         {{ ep.engineers }}
                                    </span>
                                </small>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/enterprise_portrait/ep_info.js')}}"></script>
{% endblock %}