{% extends 'base.html' %}

{% block title %}
    企业检索
{% endblock %}

{% block styles %}
    <style>
        table{
            table-layout: fixed;
        }
        table tr td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            -moz-text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
        }
    </style>
}

{% endblock %}

{% block main %}
    <div class="container" style="margin: 10% auto">
        <form method="post" action="/data_mining/enterprise_portrait/search_ep" >
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="input-group" style="width: 70%; margin:auto">
                <input type="text" class="form-control" style="height: 60px;" id="enterprise" name="enterprise" required>
                <div class="input-group-append">
                      <button type="submit" class="btn btn-primary mx-auto" style="width:140px;";>搜索</button>
                </div>
            </div>
            <div style="width: 70%; margin: 10px auto">
                <div class="radio" style="float: left;padding-right: 20px">
                  <label><input type="radio" value="1" name="options_radio" checked>&nbsp;企业名</label>
                </div>
                <div class="radio">
                  <label><input type="radio" value="2" name="options_radio">&nbsp;企业技术成果</label>
                </div>
            </div>
        </form>
        <div style="width: 70%; margin:auto">
            <table class="table">
                <thead>
                    <th colspan="2">历史记录</th>
                </thead>
                <tbody>
                    {% for history in history %}
                        <tr>
                            <td colspan="9" title="{{ history.search_content }}"><a href={{ url_for('enterprise_portrait.search_ep_history', history_id=history.id, search_content=history.search_content) }}>{{ history.search_content }}</a></td>
                            <td><span class="btn-delete float-right" title="删除记录" data-id={{ history.id }}><i class="fe fe-x-circle"></i></span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/enterprise_portrait/index.js')}}"></script>
{% endblock %}