{% extends 'base.html' %}

{% block title %}
    首页
{% endblock %}

{% block main %}
    <div id="container1" style="height: 10%">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('enterprise_portrait.patent_info') }}">部</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
            <li><a href="javascript:void(0);" onclick="second_ipc()">大类</a></li>&nbsp;&nbsp;/&nbsp;&nbsp;
            <li><a href="javascript:void(0);" onclick="third_ipc()">小类</a></li>&nbsp;&nbsp;
        </ul>
    </div>
    <div id="container" style="height: 900px">
   </div>
{% endblock %}

{% block scripts %}
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/enterprise_portrait/patent_info.js')}}"></script>
{% endblock %}




