{% extends 'base.html' %}

{% block title %}
    企业总览
{% endblock %}


{% block main %}
    <div id="container1" style="height: 10%">
        <ul class="breadcrumb">
            <li>行业分布</li>
        </ul>
    </div>
    <div class="card" style="height:800px; width: 100%">
        <div class="card-body" id="industry_statistic" ></div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/enterprise_portrait/statistic.js')}}"></script>
{% endblock %}