{% from 'bootstrap/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>等待审核</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/%s.min.css' % request.cookies.get('theme', 'perfect_blue')) }}"
              type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    <main class="container">
    <div style="text-align:center">
            <img class = "text-center" src="{{ url_for('static', filename='image/0SR[TY]`U(8%5]]~(HN]6~X.png') }}">
            <h4>您的申请已成功提交</h4>
            <br>
{#            <button class="btn" onclick=window.location.href="{{ url_for(".project_show",applicant_id=applicant_id) }}" >确定</button>#}
    </div>
    <footer style="position:fixed;bottom:0">
        <p class="float-left">
        <small> &copy; 2020 <a href="#" title="Written by dxy">SanluoXuan</a>
        </small>
    </footer>
    </main>

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{#    <script type="text/javascript" src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>#}
{% endblock %}
</body>
</html>