{% extends 'base_header_breadcrumbs.html' %}

{% block title %}昆山市开发区工程师社区{% endblock %}

{% block styles %}
{#<link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet">#}
{% endblock %}

{% block main %}
{#    各个行业   #}
    <div class="container-fluid">
{#        <div class="row">#}
{#            <div class="col-sm-3 offset-sm-9">#}
{#                <form action="/engineer_community/search_community">#}
{#                    <div class="input-group">#}
{#                        <input type="text" id="enterprise" name="enterprise" class="form-control"  style="width: 180px">#}
{#                        <span class="input-group-btn">#}
{#                            <button class="btn btn-primary" type="submit">工程师社区搜索</button>#}
{#                        </span>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}

    <nav class="navbar navbar-light">
        {% for info in info1 %}
          <form class="form-inline"
                style="width: 180px">
            <button class="btn btn-info btn-small industry-selecting" type="button" data-toggle="tooltip" title="{{ info.title }}"
                    style="width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                {{ info.title }}
            </button>
          </form>
        {% endfor %}
    </nav>

    <nav class="navbar navbar-light">
        {% for info in info2 %}
          <form class="form-inline" style="width: 180px" >
            <button class="btn btn-info btn-small industry-selecting" type="button" data-toggle="tooltip" title="{{ info.title }}"
                    style="width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap">
                {{ info.title }}
            </button>
          </form>
        {% endfor %}
    </nav>

    <br>
{#        <div class="row">#}
{#            <div>#}
{#            {% for info in infos %}#}
{#                  <div class="col-12 col-lg-6 col-xl">#}
{#                    <!-- Value  -->#}
{#                    <div class="card">#}
{#                      <div class="card-body">#}
{#                        <div class="row align-items-center">#}
{#                          <div class="col">#}
{#                            <span class="h2 mb-0">#}
{#                                {{ info.title }}#}
{#                            </span>#}
{#                          </div>#}
{#                        </div> <!-- / .row -->#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#            {% endfor %}#}
{#            </div>#}
{#        </div>#}



        <div class="row">

            <div class="col-sm-9 "  style="height: 800px;width: 100%;" >
                <div class="card">
                    <div class="card-header" >
                        <div style="float: left">
                            工程师社区
                        </div>
                        <div style="float: right">
                            <a class="nav-link active" id="namelist" href="">
                            导出名单
                            </a>
                        </div>
                    </div>
                    <div class="header-body" id="container" style="height: 800px;width: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header" >学者推荐</div>
                        <div class="header-body" id="recommend" style="height: 800px">
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/engineer_community/industry.js') }}"></script>
    <script>
        DOWNLOAD_NAMELIST_URL = "{{ url_for('engineer_community.download_namelist') }}"
    </script>
{% endblock %}