{% extends 'base.html' %}

{% block title %}项目管理-昆山开发区科技局信息系统{% endblock %}

{% block styles %}
    <style>
        .project-item:hover .btn-plus {
            display: flex;
            border: 1px dashed;
            color: white !important;
        }

        .btn-plus {
            display: none;
        }

        .project-item {
            background-size: cover;
            background-repeat: no-repeat;
        }

        .project-item, .project-cover {
            width: 226px;
            height: 113px;
        }

        .card .position-absolute {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        h3.project-name, .btn-plus {
            line-height: 30px;
        }

        .project-description {
            z-index: 5;
        }

        .project-description-header,
        .project-description-header .project-name,
        .project-description-body {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        .project-description-header,
        .project-description-header .project-name {
            white-space: nowrap;
        }

        .project-description-body {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .project-grid-card__shadow {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, transparent);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59000000", endColorstr="#00000000", GradientType=0);
            z-index: 0;
        }

        input[type=checkbox] {
            width: 1.2rem;
            height: 1.2rem;
        }
    </style>
{% endblock %}

{% block main %}
    <!-- HEADER -->
    <div class="header">
        <div class="container-fluid">
            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">
                        <h2 class="header-title">添加申报项目</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% for key,value in project_info.items() %}
            <div id="accordion">
                <div class="card cursor-pointer">
                    <div class="card-header" data-toggle="collapse" href="#collapse{{ key }}">
                        <span class="card-link">{{ key }}</span>
                        <h3 class="btn-plus text-muted col-auto p-1 font-size-lg cursor-pointer">
                            <i class="fe fe-plus"></i>
                        </h3>
                    </div>
                    <div id="collapse{{ key }}" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="form-row">
                                {% if project_info[key]|length == 0 %}
                                    <tr>
                                        <td colspan="8"><h3 class="text-center">此业务下暂无未分配项目</h3></td>
                                    </tr>
                                {% endif %}
                                {% for data in project_info[key] %}
                                    <div class="col-auto">
                                        <div class="card position-relative" style="cursor: pointer">
                                            <div class="card-body project-item lift"
                                                 data-cover-image="{{ url_for("main.avatar", filename=data.cover_image) }}"
                                                 style="background-image: url('{{ url_for("main.avatar", filename=data.cover_image) }}')">
                                                <div class="text-white position-absolute project-description p-3">
                                                    <div class="project-description-header">
                                                        <div class="row justify-content-center m-0">
                                                            <h3 class="col project-name p-0" data-toggle="tooltip"
                                                                title="{{ data["project_name"] }}">
                                                                {{ data["project_name"] }}
                                                            </h3>
                                                            <form action="{{ url_for('project_declaration.add_project') }}"
                                                                  class="btn-plus col-auto p-1" method="post">
                                                                <input type="hidden" name="csrf_token"
                                                                       value="{{ csrf_token() }}">
                                                                <input type="hidden" name="project_id"
                                                                       value="{{ data.project_id }}">
                                                                <button type="submit" class="btn btn-sm text-white"><i
                                                                        class="fe fe-plus"></i></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="project-grid-card__shadow position-absolute"></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
