{% extends 'base_header_breadcrumbs.html' %}

{% block title %}政策申报-昆山开发区科技局信息系统{% endblock %}

{% block styles %}
    <style>
        .btn-setting, .btn-remove-project {
            display: none;
            cursor: pointer;
        }

        .project-item:hover .btn-setting,
        .project-item:hover .btn-remove-project {
            display: flex;
        }

        .btn-setting:hover {
            color: white !important;
        }

        .btn-remove-project:hover{
            color: #E63757 !important;
        }

        .project-item {
            background-size: cover;
            background-repeat: no-repeat;
        }

        .project-item, .project-cover {
            width: 226px;
            height: 113px;
        }
        h3.project-name, .btn-remove-project{
            line-height: 30px;
        }
        .project-grid-card__shadow, .project-description {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .project-description {
            z-index: 5;
        }

        .project-description-header,
        .project-description-header .project-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        .project-grid-card__shadow {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, transparent);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59000000", endColorstr="#00000000", GradientType=0);
            z-index: 0;
        }

        .project-description-body {
            bottom: 0.75rem;
            right: 0.75rem;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid">
        {% if projects.count() == 0 %}
            <tr>
                <td colspan="8"><h3 class="text-center">无项目</h3></td>
            </tr>
        {% endif %}
        <div class="row" id="project-container">
            {% for data in projects %}
                <div class="col-auto">
                    <div class="card position-relative" style="cursor: pointer">
                        <a href="{{ url_for("project_declaration.show_project_list",
                        project_id=data["id"], project_name=data["name"]) }}">
                            <div class="card-body project-item lift"
                                 data-cover-image="{{ url_for("user.avatar", filename=data.cover_image) }}"
                                 style="background-image: url('{{ url_for("user.avatar", filename=data.cover_image) }}')">
                                <div class="text-white position-absolute project-description p-3">
                                    <div class="project-description-header">
                                        <div class="row justify-content-center m-0">
                                            <h3 class="col project-name p-0 m-0" data-toggle="tooltip"
                                                title="{{ data["name"] }}">
                                                {{ data["name"] }}
                                            </h3>
{#                                            <form action="{{ url_for('project_declaration.remove_project') }}" class="btn-plus col-auto p-0"  method="post">#}
{#                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">#}
{#                                                <input type="hidden" name="company_project_id" value="{{ data.company_project_id }}">#}
{#                                                <input type="hidden" name="complete_num" value="{{ data.complete_num }}">#}
{#                                                <input type="hidden" name="progress_num" value="{{ data.progress_num }}">#}
{#                                                <button type="submit" class="btn btn-remove-project text-muted" onclick="return confirm('确定移除该项目？')">#}
{#                                                    <i class="fe fe-x" title="移除项目"></i>#}
{#                                                </button>#}
{#                                            </form>#}
                                        </div>
                                    </div>
                                    <div class="project-description-body position-absolute">
                                        <span class="font-size-sm description">
{#                                            {% if data["project_id"] != 82 %}#}
{#                                                <span class="badge badge-info">进行中{{ data["progress_num"] }}项</span>#}
{#                                                <span class="badge badge-success">已完成{{ data["complete_num"] }}项</span>#}
{#                                            {% else %}#}
{#                                                <span class="badge badge-info">当年产学研合作{{ iur_contract_count }}项</span>#}
{#                                            {% endif %}#}
                                        </span>
                                    </div>
                                </div>
                                <div class="project-grid-card__shadow position-absolute"></div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}