{% extends 'show_files_base.html' %}

{% block title %}企业申报文件-昆山开发区科技局信息系统{% endblock %}

{% block header_nav %}
    <div class="row align-items-end">
        <div class="col">
            <ul class="nav nav-tabs nav-overflow header-tabs pb-3">
                {{ render_nav_item('project_declaration.project_task_info', '计划', distribute_id=detail.id) }}
                {{ render_nav_item('project_declaration.project_file_info', '文件', distribute_id=detail.id) }}
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    {{ super() }}
{% endblock %}
