{% extends 'base.html' %}
{% block title %}
    {{ unit_name }}-推荐
{% endblock %}
{% block styles %}
    <link href="{{ url_for('static', filename='css/patent_network_select2.min.css') }}" rel="stylesheet"/>
    <style>
    .tr_callable {
        cursor: pointer;
    }
    </style>
{% endblock %}

{% block main %}
{# 导航栏 #}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('patent_network.show_unit_communities', category=category, unit_name=unit_name) }}"
                   data-category="{{ category }}" id="unit"> {{ unit_name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">高校推荐</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            {# 选择器 #}
            <div class="row">
                <div class="col card">
                    <div class="card-body">
                        <label for="industry">选择行业</label>
                        <select id="industry" class="js-example-basic-multiple" multiple="multiple" onchange="changeSelect2Width()">
                            {% for class_, community in communities.items() %}
                                <option value="{{ class_ }}"  {% if loop.index0 < 10 %}selected{% endif %}>
                                    {{ community.title }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="pt-2">
                            <button type="button" class="btn btn-outline-primary btn-block" onclick="ajaxGetRecommendUnites();">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            {# 雷达图 #}
            <div class="row">
                <div class="card col">
                    <div class="card-body p-0">
                        <div class="chart" style="height: 400px">
                            <div id="radar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">
                        {% if category == 'school' %}
                            区县推荐
                        {% elif category == 'district' %}
                            高校推荐
                        {% endif %}
                    </h4>
                    <button type="button" class="btn btn-link" id="download_excel">
                        <i class="fe fe-download"></i>
                        下载
                    </button>
                </div>
                <div class="card-body p-0">
                    <div style="height: 640px;overflow-y:scroll">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>名称</th>
                                <th>{% if category == 'district' %}代表学院{% else %}企业{% endif %}</th>
                                <th>契合度</th></tr>
                            </thead>
                            <tbody id="unit_recommend"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dist/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/statistics/create_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/patent_map/common.js') }}"></script>
    <script>
        $('.js-example-basic-multiple').select2({
            placeholder: '选择行业',
            multiple: true
        });
        RECOMMEND_URL = "{{ url_for('patent_network.get_recommend_unites') }}";
        DOWNLOAD_URL = "{{ url_for('patent_network.download_recommend_unites') }}";
    </script>
    <script src="{{ url_for('static', filename='js/patent_map/recommend.js') }}"></script>
{% endblock %}