{% extends 'base.html' %}

{% block title %}{{ error_title | default("404 Error") }}{% endblock %}

{% block nav %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card w-50 bg-light">
                <img class="card-img-top img-fluid" src="{{ url_for('static', filename='image/error.jpg') }}">
                <div class="card-body">
                    <h5 class="card-title">{{ error_code | default("404 Error") }}</h5>
                    <p class="card-text">{{ error | default('该页面未找到') }}</p>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <a class="btn btn-primary" href="{{ url_for('main.index') }}">返回首页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}