<div class="col-12 col-xl-4">
    <div class="card">
        <div class="card-header">
            <h4 class="card-header-title">近期活动</h4>
            <ul class="nav nav-tabs nav-tabs-sm card-header-tabs">
{#                <li class="nav-item" data-toggle="chart"#}
{#                    data-trigger="click"#}
{#                    data-action="toggle" data-dataset="0">#}
{#                    <a class="nav-link active" href="javascript:void(0);" data-toggle="tab"#}
{#                       onclick="get_recent_activities({'{{ key }}': '{{ _id }}'});">#}
{#                       onclick="get_recent_activities();">#}
{#                        活动#}
{#                    </a>#}
{#                </li>#}
{#                <li class="nav-item" data-toggle="chart"#}
{#                    data-trigger="click"#}
{#                    data-action="toggle" data-dataset="1">#}
{#                    <a class="nav-link " href="javascript:void(0);" data-toggle="tab"#}
{#                       onclick="get_recent_policies({'{{ key }}': '{{ _id }}'});">#}
{#                       onclick="get_recent_policies();">#}
{#                        政策#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </div>
        <div class="card-body py-0" style="overflow-y: auto">
            <div class="chart">
                <div class="list-group list-group-flush py-0" id="recent_activities"></div>
            </div>
        </div>
    </div>
</div>