<div class="row">
{% for statistic in statistics %}
    <div class="col-12 col-lg-6 col-xl">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Title -->
                        <h6 class="text-uppercase text-muted mb-2">
                            {{ statistic.title }}
                        </h6>
                        <!-- Heading -->
                        <span class="h2 mb-0">
                            {{ statistic.value }}
                        </span>
                    </div>
                    <div class="col-auto">
                        <!-- Icon -->
                        <span class="h2 {{ statistic.icon }} text-muted mb-0"></span>
                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
    </div>
{% endfor %}
</div>
