{% extends 'base.html' %}

{% block title %}统计-昆山开发区科技局信息系统{% endblock %}

{# 领导部门不显示中介相关的图 #}
{% set is_show_agent_contrasion = current_user and current_user.department_id != 1 %}

{% block header %}
    <!-- HEADER -->
    <div class="header">
        <div class="container-fluid">
            <div class="header-body py-3">
                <div class="row align-items-end">
                    <div class="col">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item">{{ department.name }}</li>
                            <li class="breadcrumb-item">
                                <select id="statistics_project"
                                        style="padding: .5rem .75rem; border: 1px solid #d2ddec; border-radius: .375rem">
                                    {% for project in projects %}
                                        <option value="{{ project.id }}" data-depart="{{ department.id }}"
                                                {% if project.id == project_id %}selected="selected"{% endif %}>
                                            {{ project.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <!-- CARDS -->
    <div class="container-fluid">
        {% include "statistics/_summary.html" %}

        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-header-title">每月变化</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="chart">
                            <div id="activity_declaration_change_bar" class="chart-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'statistics/_recent_activity.html' %}
        </div>
        {% if is_show_agent_contrasion %}
            <div class="row">
                {% include 'statistics/_complete_comparison.html' %}
                {% include 'statistics/_agent_rank.html' %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        PROJECT_ID = "{{ project_id }}";
    </script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts.min.js"></script>
    <script src="{{ url_for('static', filename="js/statistics/create_graph.js") }}"></script>
    <script src="{{ url_for('static', filename="js/statistics/index.js") }}"></script>
    <script src="{{ url_for('static', filename="js/statistics/recent_activities.js") }}"></script>

    <script>
        show_activity_declaration_trend();
        get_recent_activities({project_id: PROJECT_ID});
    </script>
    {% if is_show_agent_contrasion %}
        <script src="{{ url_for('static', filename='js/statistics/agent.js') }}"></script>
    {% endif %}
{% endblock %}