{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_v4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">
{% endblock %}

{% block main %}

    <div class="container-fluid" style="padding-top: 50px">

        <form method="post" action="{{ url_for("school_profile.school_card") }}">
            <div class="row">
                <div class="input-group ">
                        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="col-md-9" style="padding-left: 200px">
                            <input type="text" class="form-control " name="school" id="input_key" placeholder="请输入您想查看的高校名称">
                        </div>
                        <div class="col-md-2" style="padding-right: 100px">
                            <input type="submit" class="form-control input-lg" name="submit" id="submit_button" value="搜索" >
                        </div>
                </div>
            </div>
        </form>

        <div class="row" id="project-container">
            <div class="col-md-2"></div>

            <div class="col-md-7">
            <div class="card"></div>

                <div class="card-body">
                    {% if schools|length == 0 %}
                        <h1 style="padding-top: 100px">您没有权限查看高校画像，请向管理员申请权限</h1>
                    {% endif %}

                    {% for school in schools %}
                        <div class="col-auto" style="padding-top: 20px">
                            <a href="{{ url_for("school_profile.index", school=school) }}" title="{{ school }}">
                                <div style="height:120px; background-image: url({{ url_for("school_profile.school_header_background", school=school) }}); background-repeat: no-repeat; background-size: cover;">
                                        <img src="{{ url_for("school_profile.school_header_logo", school=school) }}" height="50px"  class="" alt="..." style="padding-top: 10px; padding-bottom: 5px;">

{#                                    <span class="d-inline-block" style="padding-top: 10px">#}
{#                                        <img src="{{ url_for("school_profile.industry_level_logo", level="1") }}" height="50px"  class="" alt="..." style="padding-top: 10px; padding-bottom: 5px;">#}
{#                                        <span class="badge-soft-primary" style="font-size: 1.5rem; ">A+ </span> 15#}
{#                                    </span>#}
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}