{#{% extends 'base.html' %}#}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_v4.min.css') }}">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/feather.css') }}">#}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />#}
        <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet"/>

{% endblock %}

{% block main %}

    <div class="container-fluid">

<!--        <div class="row">-->
<!--            <div class="col-md-3"></div>-->
<!--            <div class="col-md-6" style="width: 1200px; height: 150px; ">-->
<!--                <div style="width: 800px; margin: 0 auto; text-align: center">-->
<!--                    <p style="font-size: 3rem">高校画像系统</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3"></div>-->

<!--        </div>-->

        <div class="row" style="padding-top: 80px;">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="card" style="height: 1000px;" id="rise_sun_graph">

                </div>
            </div>
            <div class="col-md-3" style="align: center; padding-top: 0px;">
                <div class="card" style="width: 500px; padding-top: 5px; margin: 0 auto;">
                <div class="card-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">常用高校</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">地区高校</a>
                            {#  搜索下拉框  #}
                            <div class="form-row" style="width: 300px; padding: 10px">
                                <select class="form-control singleSelect" id="singleSelect" >
                                    <option value="">--请选择--</option>
                                    {% for school in schools %}
                                        <option value="{{ school }}">{{ school }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <br>
                        {% for school in used_school %}
                        <p><a href="{{ url_for("school_profile.index", school=school) }}" title="{{ school }}">{{ school }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                            <div class="col-3">
                            <br>
                                <div class="nav flex-column nav-pills" id="v-pills-tab2"  role="tablist" aria-orientation="vertical">
                                    {% for province in province_list %}
                                        {% if loop.index0 == 0 %}
                                            <a class="nav-link active" id="province-{{ loop.index0 }}" data-toggle="pill" href="#province{{ loop.index0 }}" role="tab" aria-controls="province-{{ loop.index0 }}" aria-selected="true">{{ province }}</a>
                                        {%  else %}
                                            <a class="nav-link" id="province-{{ loop.index0 }}" data-toggle="pill" href="#province{{ loop.index0 }}" role="tab" aria-controls="province-{{ loop.index0 }}" aria-selected="false">{{ province }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="tab-content" id="v-pills-tabContent2">
                                {% for school_list in province_school_list %}
                                {% if loop.index0 == 0 %}
                                    <div class="tab-pane fade show active" id="province{{ loop.index0 }}" role="tabpanel" >
                                    {% else %}
                                    <div class="tab-pane fade" id="province{{ loop.index0 }}" role="tabpanel"  style="overflow: auto" >
                                    {% endif %}
                                    <br>
                                        {% for school in school_list %}
                                        <p><a href="{{ url_for("school_profile.index", school=school) }}" title="{{ school }}">{{ school }}</a></p>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>

                </div>
            <div class="col-md-3"></div>
        </div>
        <div class="col-md-1"></div>

    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dist/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/bootstrap_v4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/school_profile/echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/school_profile/create_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/school_profile/school_entrance.js') }}"></script>
    <script>
        $(document).ready(function() {
                $('#singleSelect').select2();
            });
        $("#singleSelect").on("change", function () {
            let school = $("#singleSelect").val();
            if(school.indexOf("大学") != -1){
                window.location.href = "/school/profile/index/" + school;

            }
        })
    </script>
{% endblock %}