{% extends 'base.html' %}

{% macro form_field(field) %}
    {{ field(**kwargs) }}<br>
    {% if field.errors %}
        {% for error in field.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block title %}重置密码-昆山开发区科技局信息系统{% endblock %}

{% block styles %}
    <style>
        body, .main-content {
            margin: 0 !important;
            display: flex !important;
            display: -webkit-box !important;
            align-items: center !important;
            -webkit-box-align: center !important;
        }

        main, .main-content {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">
                <!-- Image -->
                <div class="text-center">
                    <img src="{{ url_for('static', filename='image/coworking.svg') }}" alt="..." class="img-fluid">
                </div>

            </div>
            <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
                <!-- Heading -->
                <h1 class="display-4 text-center mb-3">重置密码</h1>

                <!-- Subheading -->
                <p class="text-muted text-center mb-5">输入手机号获取验证码</p>

                <!-- Form -->
                <form action="{{ url_for('auth.password_reset') }}" method="post">
                    {{ reset_form.csrf_token }}
                    <div class="form-group">
                        {{ form_field(reset_form.telephone) }}
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            {{ form_field(reset_form.verification_code) }}
                            <div class="input-group-append">
                                <button type="button" id="get_verification_code" style="height: 41px"
                                        class="btn btn-outline-secondary">
                                    获取验证码
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_field(reset_form.password_new) }}
                    </div>

                    <!-- Submit -->
                    <div class="form-group">
                        {{ reset_form.submit_btn }}
                    </div>

                    <!-- Link -->
                    {% if not current_user.is_authenticated %}
                        <div class="text-center">
                            <small class="text-muted text-center">
                                记得密码? <a href="/auth/login">去登陆</a>.
                            </small>
                        </div>
                    {% endif %}
                </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
     <script>
        let csrf_token = "{{ csrf_token() }}";
        //在确保请求不属于GET HEAD OPTIONS TRACE，并且发向站内，才设置csrf_token
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
{% endblock %}