{% extends "base.html" %}

{% block header %}
    <!-- HEADER -->
    <div class="header">
        <div class="container-fluid">
            <div class="header-body py-3">
                <div class="row align-items-end">
                    <div class="col">
                        <h3 class="header-title" style="font-size: .9375rem">
                            <ol class="breadcrumb">
                                {% for breadcrumb in breadcrumbs %}
                                    {% if loop.revindex0 == 0 %}
                                        <li class="breadcrumb-item header-tabs" aria-current="true" style="font-size: .9375rem">{{ breadcrumb.name }}</li>
                                    {% else %}
                                        <li class="breadcrumb-item">
                                            <a href="{% if 'args' in breadcrumb %}{{ url_for(breadcrumb.link, **breadcrumb.args) }}{% else %}{{ url_for(breadcrumb.link) }}{% endif %}">
                                                {{ breadcrumb.name }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </h3>
                    </div>
                    <div class="col-auto">
                        {% block header_right %}{% endblock %}
                    </div>
                </div>
                {% block header_nav %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}