<div class="cal-month-day <%= cls %>">
	<span class="mt-2 ml-2 float-left" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
    {% if current_user.is_authenticated and current_user.can("ACTIVITY_WRITE") %}
	    <a href="/activity/new_activity?start_time=<%= data_day %>" class="mt-2 mr-2 float-right add-activity p-1"><i class="fe fe-plus font-size-lg"></i></a>
    {% endif %}
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="d-inline-block event <%= event['class'] %>" data-toggle="tooltip"
					title="<%= event.title %>"></a>
			<% }); %>
		</div>
	<% } %>
</div>
