{% extends 'admin/base.html' %}
{% block title %}修改中介信息{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/files.css') }}">
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="header">
                    <div class="header-body">
                        <!-- Nav -->
                        <div class="row align-items-end">
                            <div class="col">
                                <h2>修改中介信息</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('gov.gov_agent_modify', agent_id=agent['id']) }}"
                              id="form-gov-agent-modify" method="POST">
                            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label for="" class="col-2">中介名称</label>
                                        <div class="col pl-4">
                                            <input type="text" name="name" id="name" class="form-control"
                                                   value="{{ agent['name'] }}" required="required">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">名字全称</label>
                                        <div class="col pl-4">
                                            <input type="text" id="full_name" name="full_name" class="form-control"
                                                   value="{{ agent['full_name'] }}">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">公司名字</label>
                                        <div class="col pl-4">
                                            <input type="text" id="company" name="company" class="form-control"
                                                   value="{{ agent['company'] }}">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">经营模式</label>
                                        <div class="col pl-4">
                                            <select name="pattern" id="pattern" class="form-control">
                                                {% for pattern in patterns %}
                                                    {% if pattern == agent['pattern'] %}
                                                        <option value="{{ pattern }}" selected>{{ pattern }}</option>
                                                    {% else %}
                                                        <option value="{{ pattern }}">{{ pattern }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">所处地区</label>
                                        <div class="col pl-4">
                                            <input type="text" id="town" name="town" class="form-control"
                                                   value="{{ agent['town'] }}">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">创建年份</label>
                                        <div class="col pl-4">
                                            <input type="number" id="gmt_create" name="gmt_create" class="form-control"
                                                   value="{{ agent['gmt_create'] }}">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">中介类别</label>
                                        <div class="col pl-4">
                                            <select name="category" id="category" class="form-control">
                                                {% for category in categories %}
                                                    {% if category==agent['category'] %}
                                                        <option value="{{ category['id'] }}"
                                                                selected>{{ category['name'] }}</option>
                                                    {% else %}
                                                        <option value="{{ category['id'] }}">{{ category['name'] }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">公司等级</label>
                                        <div class="col pl-4">
                                            <select name="level" id="level" class="form-control">
                                                {% for level in levels %}
                                                    {% if level==agent['level'] %}
                                                        <option value="{{ level }}" selected>{{ level }}</option>
                                                    {% else %}
                                                        <option value="{{ level }}">{{ level }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">占地面积</label>
                                        <div class="col pl-4">
                                            <input type="number" id="area" name="area" class="form-control"
                                                   value="{{ agent['area'] }}">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">详细地址</label>
                                        <div class="col pl-4">
                                            <input type="text" id="address" name="address" class="form-control"
                                                   value="{{ agent['address'] }}">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">联系人姓名</label>
                                        <div class="col pl-4">
                                            <input type="text" id="contact" name="contact" class="form-control"
                                                   value="{{ agent['contact_name'] }}">
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <label class="col-2">联系人电话</label>
                                        <div class="col pl-4">
                                            <input type="text" id="telephone" name="telephone" class="form-control"
                                                   value="{{ agent['contact_telephone'] }}">
                                            <label id="telephone_verify" style="display:none; font-size:12px; color:#F00"></label>
                                        </div>
                                    </div>
                                    <div class="form-row p-3 border-bottom-1 ">
                                        <div class="col pl-4">
                                            <div style="text-align:center">
                                                <button type="submit" id="btn-submit-form"
                                                        class="btn btn-primary float">确定
                                                </button>
                                                <button type="button" class="btn btn-primary float"
                                                        onclick="javascript:history.back(-1);">返回
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let csrf_token = "{{ csrf_token() }}";
        //在确保请求不属于GET HEAD OPTIONS TRACE，并且发向站内，才设置csrf_token
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>

    <script src="{{ url_for('static', filename='js/dist/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user/personal.js') }}"></script>

{% endblock %}
