{#{% extends 'base.html' %}#}
{% extends './social_network/base_social.html' %}

{% block title %} 校企合作推荐 {% endblock %}

{% block styles %}

    <link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet"/>
    <!-- Bootstrap table -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/bootstrap-table/bootstrap-table.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <style>
        .select2-container .select2-search--inline {
            float: none !important;
            display: none !important;
        }

        .select2-container {
            padding: .5rem 1.25rem;
        }

        .select2-selection__choice {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .select2-container--default .select2-selection--multiple,
        .select2-selection__choice__remove {
            border: none !important;
        }

        .select2-selection__choice__remove, .select2-selection__choice__display {
            display: inline-block !important;
        }

    </style>
{% endblock %}

{% block main %}

    <div class="container">
        <div class="header">
            <div class="header-body border-0">
                  <form class="search-container" id="search-form">
                            <div class="input-group input-group-lg input-group-merge">
                                <div class="form-control form-control-prepended form-control-appended p-0">
                                    <select name="uni" id="search-select" multiple="multiple" required>
                                        {% for university in universities %}
                                            <option value="{{ university['id'] }}">{{ university['name'] }}</option>
                                        {% endfor %}

                                    </select>
                                </div>

                                <div class="input-group-prepend">
                                    <select class="input-group-text border-right-2">
                                        <option value="">昆山开发区</option>
                                    </select>
                                </div>
                                <div class="input-group-append">
                                    <div id="search-btn"
                                         class="input-group-text bg-primary border-left-2 cursor-pointer">
                                    <span class="text-white px-2">
                                        <i class="fe fe-search"></i>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </form>
            </div>
        </div>

        <div class="card">
            <div class="card-table">
                <table id="present-result"></table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dist/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/bootstrap-table/bootstrap-table.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/bootstrap-table/bootstrap-table-locale-all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/bootstrap-table/tableExport.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/bootstrap-table/bootstrap-table-export.js') }}"></script>
    <script>
        let csrf_token = "{{ csrf_token() }}";
        //在确保请求不属于GET HEAD OPTIONS TRACE，并且发向站内，才设置csrf_token
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        $("#search-select").select2();
    </script>
    <script src="{{ url_for('static', filename='js/social_network/recommend.js') }}"></script>
{% endblock %}